<div data-ng-controller="GameBoardController">
	<form name="word-form" data-ng-init="loadCurrentBoard()">
		<div class="form-group text-center">
			<img class="img-rounded" width="304" height="236" data-ng-src="{{currentboard.image}}" style="border:2px darkred solid"/>
		</div>
		<div class="form-group text-center">
			<span data-ng-repeat="letter in currentboard.wordState.split('') track by $index">
      			<span class="text-info" style="font-size:50px">{{ letter }}</span>
    		</span>
   		</div>
    	<div class="form-group text-center">
			<div class="btn-toolbar btn-group-lg btn-group-justified">
				<button class="btn btn-success" value="A" data-ng-click="addCharacter($event)">A</button>
				<button class="btn btn-success" value="B" data-ng-click="addCharacter($event)">B</button>
				<button class="btn btn-success" value="C" data-ng-click="addCharacter($event)">C</button>
				<button class="btn btn-success" value="D" data-ng-click="addCharacter($event)">D</button>
				<button class="btn btn-success" value="E" data-ng-click="addCharacter($event)">E</button>
				<button class="btn btn-success" value="F" data-ng-click="addCharacter($event)">F</button>
				<button class="btn btn-success" value="G" data-ng-click="addCharacter($event)">G</button>
				<button class="btn btn-success" value="H" data-ng-click="addCharacter($event)">H</button>
				<button class="btn btn-success" value="I" data-ng-click="addCharacter($event)">I</button>
				<button class="btn btn-success" value="J" data-ng-click="addCharacter($event)">J</button>
				<button class="btn btn-success" value="K" data-ng-click="addCharacter($event)">K</button>
				<button class="btn btn-success" value="L" data-ng-click="addCharacter($event)">L</button>
				<button class="btn btn-success" value="M" data-ng-click="addCharacter($event)">M</button>
			</div>
			<div class="btn-toolbar btn-group-lg btn-group-justified">
				<button class="btn btn-success" value="N" data-ng-click="addCharacter($event)">N</button>
				<button class="btn btn-success" value="O" data-ng-click="addCharacter($event)">O</button>
				<button class="btn btn-success" value="P" data-ng-click="addCharacter($event)">P</button>
				<button class="btn btn-success" value="Q" data-ng-click="addCharacter($event)">Q</button>
				<button class="btn btn-success" value="R" data-ng-click="addCharacter($event)">R</button>
				<button class="btn btn-success" value="S" data-ng-click="addCharacter($event)">S</button>
				<button class="btn btn-success" value="T" data-ng-click="addCharacter($event)">T</button>
				<button class="btn btn-success" value="U" data-ng-click="addCharacter($event)">U</button>
				<button class="btn btn-success" value="V" data-ng-click="addCharacter($event)">V</button>
				<button class="btn btn-success" value="W" data-ng-click="addCharacter($event)">W</button>
				<button class="btn btn-success" value="X" data-ng-click="addCharacter($event)">X</button>
				<button class="btn btn-success" value="Y" data-ng-click="addCharacter($event)">Y</button>
				<button class="btn btn-success" value="Z" data-ng-click="addCharacter($event)">Z</button>
			</div>
		</div>
	</form>
</div>
